<h1>
  {{title}}<i class="fa fa-flag-checkered" style="color: orange"></i>
</h1>
<div align="center">
<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
</div>
<router-outlet></router-outlet>
